<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/style.css")
    <!--@Scripts.Render("~/bundles/modernizr")-->
</head>
<body>
        <div class="header">
            <div class="container">
                <div class="logo"><img src="~/Content/logogetticket.png"></div>
                <div class="account-menu">
                    <ul class="hr-menu account-nav">
                        <li>@Html.ActionLink("Register", "Register", "Home")</li>
                        <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="navigation">
            <div class="container">
                <div class="navbar">
                    @Html.ActionLink("Home", "Index", "Home")
                    <div class="dropdown">
                        <button class="dropbtn">
                            Stiluri
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            @Html.ActionLink("Pop", "Pop", "Home")
                            @Html.ActionLink("Rock", "Rock", "Home")
                            @Html.ActionLink("Metal", "Metal", "Home")
                            @Html.ActionLink("Jazz", "Jazz", "Home")
                            @Html.ActionLink("Folk", "Folk", "Home")
                            @Html.ActionLink("Electronica", "Electronica", "Home")
                            @Html.ActionLink("Hip-Hop", "HipHop", "Home")
                            @Html.ActionLink("Clasica", "Clasica", "Home")
                            @Html.ActionLink("Fado", "Fado", "Home")
                            @Html.ActionLink("Reggae", "Reggae", "Home")
                            @Html.ActionLink("Pop-Rock", "PopRock", "Home")

                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            Locatii
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="bucuresti">Bucuresti</a>
                            <a href="cluj">Cluj</a>
                            <a href="constanta">Constanta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-content">
            @RenderBody()
            <hr />
            <!--<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>-->
        </div>

        <!--@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)-->
    </body>
</html>
